span.badge.badge-pill.badge-danger{
    border: 1px solid #fb4f39;
}

span.badge.badge-pill{
    color: #000000;
    background: #ffffff;
}

span.badge.badge-pill.badge-primary{
    border: 1px solid #0052cc;
}

span.badge.badge-pill.badge-warning{
    border: 1px solid #ffb54b;
}
span.badge.badge-pill.badge-success{
    border: 1px solid #43b749;
}

span.badge.badge-pill.badge-info{
    border: 1px solid #e1e4ea;
}